parameters:
	level: 8
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Unsafe usage of new static\(\).#'
	earlyTerminatingMethodCalls:
		Cake\Shell\Shell:
			- abort
